*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
margin: 0px !important;
}
.row {
    display: flex !important;
    flex-direction: row !important;
}
.column {
    border: 3px solid black;
}

.input {
    margin: 5px;
}

/* #top-column {
    margin: 100px;
    padding: 1rem;
    margin-left: 400px;
    margin-right: 400px;
} */

.forecast-container {
    display:flex;
    flex-direction: row;
}

.recent {
    display: flex;
    flex-direction: column;
}

