*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Courier New', Courier, monospace;
}

/* .input {
    text-align: center; 
} */

/* how to use materilized to stay this page? or any other css api */