*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
margin: 0px !important;
}
.row {
    display: flex !important;
    flex-direction: row !important;
}
.column {
    border: 3px solid black;
    margin: 20px;
}

.input {
    margin: 5px;
}

.forecast-container {
    display:flex;
    flex-direction: row;
}

.recent {
    display: flex;
    flex-direction: column;
}

.center-align {
    font-size: 40px;
}

#temp, #humidity, #wind {
    text-align: center;
}

.historyBtn {
    margin: 5px;
}

.forecastCard {
margin: 5px;
display: flex;
flex-direction: column;
justify-content: center;
background-color: bisque;
}

.current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.column {
    background-color: bisque;
}
